<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <!-- Post preview-->
            <div class="post-preview">
                <a href="http://rylandupson.com/">
                    <h2 class="post-title">Ryland Upson</h2>
                    
                </a>
            </div>
            <!-- Divider-->
            <hr class="my-4" />
            <!-- Post preview-->
            <div class="post-preview">
                <a href="http://www.daniellethedev.com/">
                    <h2 class="post-title">Danielle Smalley</h2>
                </a>

            </div>
            <!-- Divider-->
            <hr class="my-4" />
            <!-- Post preview-->
            <div class="post-preview">
                <a href="http://www.jacobwoodworth.com/">
                    <h2 class="post-title">Jacob Woodworth</h2>

                </a>
            </div>
            <!-- Divider-->
            <hr class="my-4" />
            <!-- Post preview-->
            <div class="post-preview">
                <a href="http://www.ryanjpalmer.net/">
                    <h2 class="post-title">Ryan Palmer</h2>

                </a>
            </div>

            <hr class="my-4" />

            <div class="post-preview">
                <a href="http://www.coderclyde.com">
                    <h2 class="post-title">Clyde Parker</h2>
                </a>
            </div>

            <hr class="my-4" />

            <div class="post-preview">
                <a href="http://caitlinchase.com">
                    <h2 class="post-title">Caitlin Chase</h2>
                </a>
            </div>

            <hr class="my-4" />

            <div class="post-preview">
                <a href="http://itcodefox.net">
                    <h2 class="post-title">Lavagust Fox</h2>
                </a>
            </div>

            <hr class="my-4" />

            <div class="post-preview">
                <a href="http://jaethedeveloper.com">
                    <h2 class="post-title">Jae Taylor</h2>
                </a>
            </div>
            <!-- Divider-->
            <!-- Pager-->
            @*<div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="#!">Older Posts →</a></div>*@
        </div>
    </div>
</div>
